@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}


:root {
    --blue: #0c1b32;
    --blue-trans: #0c1b32c4;
    --green:#56fbd3;
    --subtitulos:#bebebe;
    --parrafos:#e7e7e7;

    --Titulo-right:#535353;
    --parrafo-right:#7f7f7f;

  }

.container{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    background: rgb(230, 230, 230);
}

/*********HEADER*****************/
.container .contHeader{
    width: 100%;
    background-image: url(../imagenes/desarrollando.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .contHeader .bloque_foto{
    width: 30%;
    height: 300px;
    background: var(--blue-trans);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contHeader .bloque_foto .bloque_foto_int{
    width: 230px;
    overflow: hidden;
    border-radius: 50%;
}
.container .contHeader .bloque_descripcion{
    width: 70%;
    text-align: center;
    color: aliceblue;
    background: var(--blue-trans);
    padding-top: 45px;
}

.bloque_descripcion_name{
     font-size: 40px;
     text-transform: uppercase;
     letter-spacing: 5px;
}
.bloque_descripcion_dev{
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--green);
}
.bloque_descripcion_level{
    padding: 5px ;
    margin-top: 50px;
    background:rgba(35, 180, 220, 0.027);
    letter-spacing: 1px;
}

/*********FIN HEADER*****************/










.container .sections{
    width: 100%;
    background: var(--blue);
    background: firebrick;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*********SECTION LEFT*****************/

.sectionLeft{
    width:30%;
    padding: 10px 0px;
    background: var(--blue);
   
}
.sectionLeft .sectionLeft_bloque{
    width: 100%;
    padding:20px;
    background: var(--blue);
    
    
}
.sectionLeft .sectionLeft_bloque_perfil{
    font-style: normal;
    color: var(--subtitulos);
    margin-bottom: 10px;
}
.sectionLeft .sectionLeft_bloque_parrafo{
    margin-top: 15px;
    font-weight:100;
    color: var(--parrafos);
    font-weight: 100;
}

/*********SECTION LEFT*****************/

.sectionLeft .sectionLeft_bloque_contacto{
    color: var(--subtitulos);
    margin-bottom: 10px;
}
.sectionLeft .sectionLeft_bloque_base{
    width: 100%;
    margin-top: 15px;
    color: var(--parrafos);
    font-weight:100;
    font-style: normal;
}
.sectionLeft .sectionLeft_bloque_base .iconContact{
    color: var(--green);
    width: 25px;
}
.sectionLeft .sectionLeft_bloque_base .enlaceLinkedln{
    color: white;
    text-decoration: none;
}
.sectionLeft .sectionLeft_bloque_base .enlaceGithub{
    color: white;
    text-decoration: none;
}

/*********SECTION LEFT*****************/
.sectionLeft .sectionLeft_bloque_idioma{
    color: var(--subtitulos);
    margin-bottom: 10px;
}
.sectionLeft .sectionLeft_bloque_detalle{
    margin-top: 15px;
    color: var(--parrafos);
}
.sectionLeft .sectionLeft_bloque_detalle .fa-asterisk{
    color: var(--green);
}


/*********SECTION LEFT*****************/
.sectionLeft_bloque_detalle{
    width: 100%;
    padding: 5px 0px;

}
.sectionLeft_bloque_idioma_title{
    color: var(--subtitulos);
    line-height: 25px;
}
.sectionLeft_bloque_idioma_des{
    margin-top: 5px;
    color: var(--parrafos);
}



/*********FIN SECTION LEFT*****************/












/*********SECTION RIGHT*****************/
.container .sections .sectionRight{
    width:70%; 
    padding: 20px;
    background: rgb(255, 255, 255);
}

/**---------EDUCACION*-------------------*/
.sectionRight_base_educacion{
    width: 100%;
    padding: 10px 0px;
}
.sectionRight_title{
    margin-bottom: 8px;
    color: var(--Titulo-right);
}
.sectionRight_text{
    margin-top: 10px;
    color: var(--Titulo-right);   
}
.sectionRight_descripcion{
    color: var(--parrafo-right);

}


/***********SKILLS*******************/
.sectionRight_base_skills{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    color:var(--Titulo-right);
}
.sectionRight_titleEdu{
    margin-bottom: 8px;
}

.sectionRight_cajas{
    width: 100%;
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.rightContCajas{
    width: 200px;
    padding: 5px;
    /*background: rgb(207, 207, 207);*/
    color: var(--parrafo-right);
}
.rightContCajas .iconSkills{
    margin-right: 5px;
    color:black;
}
.rightContCajas .iconSkillsPhotoshop{
   width: 22px;
   height: 22px;
   display: flex;
   align-items: center;
}
.iconSkillsPhotoshop .textPhotoshop{
   margin-left: 5px;
}

/**************PROYECTOS*******************/
.sectionRight_base_proyectos{
    width: 100%;
    padding: 5px 0px;
    /*background: rgb(219, 216, 216);*/
}
.sectionRight_title{
    color: var(--Titulo-right);
}
.sectionRight_block{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sectionRight_block_box1{
    width: 400px;
    padding: 5px 0px;
}
.sectionRight_block_title{
    color: var(--Titulo-right);
    margin-bottom: 10px;
}
.sectionRight_block_des{
    color: var(--parrafo-right);
    margin-bottom: 10px;
}
.sectionRight_block_enlace{
    text-decoration: none;
    color: var(--blue);
}
.sectionRight_block_box2{
    width: 200px;
    padding: 5px 0px;
}
.sectionRight_block_Right_QR{
    width: 120px;
    height: 120px;
}



/**************EXPERIENCIA*******************/
.sectionRight_base_experiencia{
    width: 100%;
    padding: 5px 0px;
}
.sectionRight_blockExp{
    width: 100%;
    padding: 10px 0px;
    color: var(--parrafo-right);
}
.iconArrow{
    color: var(--Titulo-right);
}
.title{
    color: var(--Titulo-right);
}
/*********FIN SECTION RIGHT*****************/





/*
RESPONSIVE DESING OFICIAL
@import (min-width:1025px) and (max-width:1200px)
@import (min-width:770px)  and (max-width:1024px)
@import (min-width:641px)  and (max-width:769px)
@import (min-width:481px)  and (max-width:640px)
@import (min-width:320px)  and (max-width:480px)
*/


@media (min-width:641px) and (max-width:769px){
    .container{
        width: 100%;
        max-width: 1250px;
        margin: auto;
        background: rgb(230, 230, 230);
    }
        
    /*********HEADER*****************/
    .container .contHeader{
        width: 100%;
        background-image: url(../imagenes/desarrollando.jpg);
        background-size: 100% 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container .contHeader .bloque_foto{
        width: 100%;
        height:auto;
        padding: 10px 0px;
        background: var(--blue-trans);  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .contHeader .bloque_foto .bloque_foto_int{
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }
    .container .contHeader .bloque_descripcion{
        width:100%;
        text-align: center;
        color: aliceblue;   
        background: var(--blue-trans);
        padding: 30px;
    }

    .bloque_descripcion_name{
        width: 80%;
        margin: auto;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 40px;
    }
    .bloque_descripcion_dev{
        margin-top: 10px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--green);
        font-size: 25px;
    }
    .bloque_descripcion_level{
        padding: 5px ;
        margin-top: 30px;
        background:transparent;
        letter-spacing: 1px;
    }

    /*********FIN HEADER*****************/



    /*********SECTION LEFT*****************/

    .sectionLeft{
        width:35%;
        padding: 10px 0px;
        background: var(--blue);
    
    }
    


    /*********SECTION RIGHT*****************/
    .container .sections .sectionRight{
        width:65%; 
        padding: 20px;
        background: rgb(255, 255, 255);
    }





}



@media (min-width:20px) and (max-width:640px){
    .container{
        width: 100%;
        max-width: 1250px;
        margin: auto;
        background: rgb(230, 230, 230);
    }
        
    /*********HEADER*****************/
    .container .contHeader{
        width: 100%;
        background-image: url(../imagenes/desarrollando.jpg);
        background-size: 100% 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container .contHeader .bloque_foto{
        width: 100%;
        height:auto;
        padding: 10px 0px;
        background: var(--blue-trans);  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .contHeader .bloque_foto .bloque_foto_int{
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }
    .container .contHeader .bloque_descripcion{
        width:100%;
        text-align: center;
        color: aliceblue;   
        background: var(--blue-trans);
        padding: 30px;
    }

    .bloque_descripcion_name{
        width: 80%;
        margin: auto;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 40px;
    }
    .bloque_descripcion_dev{
        margin-top: 10px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--green);
        font-size: 25px;
    }
    .bloque_descripcion_level{
        padding: 5px ;
        margin-top: 30px;
        background:transparent;
        letter-spacing: 1px;
    }

    /*********FIN HEADER*****************/



    /*********SECTION LEFT*****************/

    .sectionLeft{
        width:100%;
        padding: 10px 0px;
        background: var(--blue);
    }
    


    /*********SECTION RIGHT*****************/
    .container .sections .sectionRight{
        width:100%; 
        padding: 20px;
        background: rgb(255, 255, 255);
    }
    .sectionRight_block_des{
        width: 100%;
        color: var(--parrafo-right);
        margin-bottom: 10px;
    }
    .sectionRight_block_enlace{
        width: 200px;
        text-decoration: none;
        color: var(--blue);
    }
    .rightContCajas{
        width: 120px;
        padding: 5px;
        /*background: rgb(207, 207, 207);*/
        color: var(--parrafo-right);
    }


}







